body{
    margin:0;
    padding:0;
    background-color: #f4f4f9;
    color: #333;
}
    header {
        background-color: gray;
        color: white;
        padding: 1rem 0;
        margin :auto;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 1rem;
        display: inline-block;
      }
      footer {
        background-color: gray;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
      } 
      
      }
      
}